@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-condensed {
    font-stretch: ultra-condensed;
  }
}

body{
  background-color: #FBF9F7;
}

.sectionHeight{
  height: calc(100vh - 150px);
}

@media (width<=760px) {
.sectionHeight{
  height: calc(100vh - 200px);
}

}